.functionality {
    @apply relative py-[40px] sm:py-[60px] lg:py-[100px] xl:py-[198.5px];

    .container {
        @apply flex items-center;
    }

    &__content {
        @apply z-10 w-full pb-[78px] md:w-7/12;
    }
}

.functionality-list {
    @apply py-10 md:py-[70px];

    &__title {
        @apply mb-[30px];
    }
}
