.intro {
    background: #f3f3f3 url("../../assets/intro-bg.png") center no-repeat;
    background-size: cover;

    &__title {
        @apply font-bold font-primary-display text-[2rem] xl:text-[2rem] leading-[2.8rem] sm:leading-9 uppercase mb-[17px];
    }

    &__subtitle {
        @apply font-primary-text text-xl xl:text-2xl;
    }
}
