.problem-solving {
    @apply py-14 md:py-[79px];

    .container {
        @apply flex flex-col items-center md:flex-row;
    }

    &__content {
        @apply w-full pb-10 md:w-6/12 md:pb-[78px];
    }
}
