.section__accent {
    background: #0065f6 url("../../assets/bg-accent.png");

    @apply text-white;

    &-brand {
        @apply font-primary-display text-[40px] md:text-[54px] xl:text-[64px] font-bold uppercase mb-1.5;
    }

    &-title {
        @apply mb-3;
    }

    &-subtitle {
        @apply font-primary-text text-2xl;
    }
}